*{box-sizing: border-box; margin: 0; padding: 0;}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 16px;
  position: relative;
  /* background: rgb(150,201,61);
  background: -moz-linear-gradient(270deg, rgba(150,201,61,1) 0%, rgba(0,176,155,1) 100%);
  background: -webkit-linear-gradient(270deg, rgba(150,201,61,1) 0%, rgba(0,176,155,1) 100%);
  background: linear-gradient(270deg, rgba(150,201,61,1) 0%, rgba(0,176,155,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#96c93d",endColorstr="#00b09b",GradientType=1); */
  background: url(../images/productivity-bg.jpg);
  background-size: cover;
  color: white;
  
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

a {
  color: white;
  font-size: 1em;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  height: 100vh;
}

#container {
  /* background: rgb(0,176,155);
  background: -moz-linear-gradient(270deg, rgba(0,176,155,1) 0%, rgba(150,201,61,1) 100%);
  background: -webkit-linear-gradient(270deg, rgba(0,176,155,1) 0%, rgba(150,201,61,1) 100%);
  background: linear-gradient(270deg, rgba(0,176,155,1) 0%, rgba(150,201,61,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00b09b",endColorstr="#96c93d",GradientType=1); */
  background: url(../images/productivity-bg.jpg);
  background-size: cover;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  /* word-wrap: break-word; */
  text-transform: capitalize;
  text-align: center;
  padding: 1.5rem;
  

  /* place-items: center; */

  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  margin: 0;
}

h2{
  font-size: 1.25rem;
  color: #e4e4e4;
  margin-bottom: 1rem;
}
  
h3 {
  font-size: 4em;
  position: relative;
  word-break: break-all;
  margin: 0;
}

h4 {
  color: white;
  /* background: rgba(0, 0, 0, 0.2); */
  opacity: 0.5;
  padding: 1em;
}

p {
    font-size: 1em;
    margin-bottom: 2rem;
  }
  
textarea {
    
    width: 80%;
    max-width: 700px;
    margin-bottom: 0.5rem;
    font-size: 1em;
    padding: 0.5rem;
    border-radius: 0;
  }
textarea::placeholder {
  color: #bdbdbd;
}

.btn {
    font-size: 1em;
    padding: 0.8rem 1.5rem;
    color: white;
    outline: none;
    border: none;
    display: block;

  }

  .btn.start {
    background: #ff4561;
    width: 80%;
    max-width: 700px;
  }

  #next {
    display: none;
  }



  footer {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 0.8em;
  }